:host {
  display: inline-block;
  width: 100%;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border: 1px solid var(--border);
    border-radius: 6px;
    background: var(--background-soft);   
    font: var(--text-body-regular);
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px 32px 10px 12px;   
    cursor: pointer;
    width: 100%;
}

/* ── Pantallas Medianas (Tablet) ── */
@media (max-width: 1024px) {
    .input--grande {
        width: 380px;
    }
    .input--mediano {
        width: 280px;
    }
    .input--pequeno {
        width: 200px;
    }
}

/* ── Pantallas Pequeñas (Móvil) ── */
@media (max-width: 768px) {
    .input--grande,
    .input--mediano,
    .input--pequeno {
        width: 100%;
    }
}