.input {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--neutral);
    background: var(--background-soft);   
    font-family: var(--text-body-second);
    box-sizing: border-box;
}

.input--grande {
    width: 471px;
    height: 44px;
    padding: 2px 10px 0 10px;
}

.input--mediano {
    width: 344px;
    height: 44px;
    padding: 2px 10px 0 10px;
}

.input--pequeno {
    width: 241px;
    height: 44px;
    padding: 2px 10px 0 10px;
}

/* ── Pantallas Medianas (Tablet) ── */
@media (max-width: 1024px) {
    .input--grande {
        width: 380px;
    }
    .input--mediano {
        width: 280px;
    }
    .input--pequeno {
        width: 200px;
    }
}

/* ── Pantallas Pequeñas (Móvil) ── */
@media (max-width: 768px) {
    .input--grande,
    .input--mediano,
    .input--pequeno {
        width: 100%;
    }
}