:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: inline-block;
    background-color: currentColor; /* Esto permite que el ícono tome el color del texto */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
}

/* Mantener tus media queries para responsividad */
@media (max-width: 1024px) {
    .icon {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 768px) {
    .icon {
        width: 20px;
        height: 20px;
    }
}
