.span{
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font: var(--text-body-second);
    border-radius: 30px;
    color: var(--background-white);
}

.span--clase {
    background: var(--success);
}

.span--examen {
    background: var(--danger);
}

.span--administrativa {
    background: var(--neutral);
}

.span--atraso{
    background: var(--warning);
}

.span--completado {
    color: #003017;
    border: 1px solid var(--success);
    background: #BAE8C1;
}

.span--masDel25 {
    color: #003017;
    border: 1px solid var(--blue-dark);
    background: #B8C2E3;
}

.span--menosDel25 {
    color: #003017;
    border: 1px solid var(--neutral);
    background: rgba(234, 233, 233, 0.85);
}

