.span{
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font: var(--text-body-second);
    border-radius: 30px;
    color: var(--background-white);
}

.span--clase {
    background: var(--success);
}

.span--examen {
    background: var(--danger);
}

.span--administrativa {
    background: var(--neutral);
}

.span--atraso{
    background: var(--warning);
}

.span--completado {
    color: var(--success-text);
    border: 1px solid var(--success);
    background: var(--success-light);
}

.span--masDel25 {
    color: var(--success-text);
    border: 1px solid var(--blue-dark);
    background: var(--accent-perfil-light);
}

.span--menosDel25 {
    color: var(--success-text);
    border: 1px solid var(--neutral);
    background: var(--surface-muted);
}

