<div [class]="claseHost()">
  @switch (tipo) {
    @case ('Texto') {
      <span class="celda__texto">{{ texto }}</span>
    }
    @case ('Mes') {
      <span class="celda__texto">{{ texto }}</span>
      <div class="celda__mes-nav">
        <button class="celda__mes-btn" type="button" (click)="mesAnterior.emit()">
          <app-icon name="chevron-left" [size]="flechaTamano[tamano]" />
        </button>
        <button class="celda__mes-btn" type="button" (click)="mesSiguiente.emit()">
          <app-icon name="chevron-right" [size]="flechaTamano[tamano]" />
        </button>
      </div>
    }
    @case ('Boton') {
      <button class="celda__boton" type="button" (click)="eliminar.emit()">
        <app-icon name="Icono_trash" [size]="iconoTrashTamano[tamano]" />
      </button>
    }
    @case ('Tema') {
      <p class="celda__titulo">{{ titulo }}</p>
      <p class="celda__descripcion">{{ descripcion }}</p>
    }
    @case ('Vacía') {
      <span class="celda__vacia" aria-hidden="true"></span>
    }
  }
</div>
