.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  font: var(--text-body-second)
}

/* ─── Tamaños ─── */
.btn--desktop {
  height: var(--btn-height-desktop);
  padding: var(--padding-v-desktop) var(--padding-h-desktop);
}

.btn--tablet {
  height: var(--btn-height-tablet);
  padding: var(--padding-tablet) var(--padding-h-desktop);
}

.btn--mobile {
  height: var(--btn-height-mobile);
  padding: var(--padding-v-mobile) var(--padding-h-mobile);
}

/* ─── Primario ─── */
.btn--primario {
  background-color: var(--primary-blue);
  color: var(--background-white);
}

.btn--primario:hover {
  background-color: var(--blue-dark);
}

/* ─── Secundario ─── */
.btn--secundario {
  background-color: var(--background-soft);
  border: 2px solid var(--blue-dark);
  color: var(--blue-dark);
}

.btn--secundario:hover {
  background-color: var(--botonperfil);
  border: 2px solid var(--text-main);
}

/* ─── Éxito ─── */
.btn--exito {
  background-color: var(--success);
  color: var(--background-white);
}

.btn--exito:hover {
  background-color: #0C5928;
}

/* ─── Alerta ─── */
.btn--alerta {
  background-color: var(--danger);
  color: var(--background-white);
}

.btn--alerta:hover {
  background-color: #FA1818;
}

/* ─── Ícono ─── */
.btn--icono {
  background-color: var(--background-soft);
  border: 2px solid var(--blue-dark);
  color: var(--blue-dark);
}

.btn--icono:hover {
  background-color: var(--border);
}

/* ─── Usuario ─── */
.btn--usuario {
  background-color: var(--primary-blue);
  border: 1px solid var(--border);
  color: var(--background-white);
}

.btn--usuario:hover {
  background-color: var(--blue-dark);
}


