.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--border);
    font: var(--text-body-regular);
    box-sizing: border-box;
}

.select--default {
    background: var(--background-soft);
}

.select--seleccionado {
    background: var(--botonperfil);
}

.select--default ::selection{
    background: var(--botonperfil);
}

.select--mediano {
    width: 300px;
}

.select--pequeno {
    width: 200px;
}

.option {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--border);
}

.option--grande {
    display: flex;
}

.option--mediano {
    width: 300px;
}

.option--pequeno {
    width: 200px;
}

/* ── Pantallas Medianas (Tablet) ── */
@media (max-width: 1024px) {
    .select--mediano,
    .option--mediano {
        width: 260px;
    }
    .select--pequeno,
    .option--pequeno {
        width: 180px;
    }
}

/* ── Pantallas Pequeñas (Móvil) ── */
@media (max-width: 768px) {
    .select--mediano,
    .select--pequeno,
    .option--mediano,
    .option--pequeno {
        width: 100%;
    }
}
