:root {
  /* ===== COLORES ===== */
  --primary-blue: #004A98;       
  --blue-dark: #003B79;
  --success: #28a745;
  --danger: #dc3545;
  --neutral: #6c757d;
  --background-white: #ffffff;
  --background-soft: #f5f7fa;
  --border: #dee2e6;
  --text-main: #212529;
  --warning: #ffc107;
  --botonperfil: #e0e0e0;
  --encabezado: #f8f9fa;

  /* ===== TIPOGRAFÍA ===== */
  --font-family: 'Open Sans', sans-serif;

  /* ===== TAMAÑOS BOTONES ===== */
  --btn-height-desktop: 48px;
  --btn-height-tablet: 44px;
  --btn-height-mobile: 36px;

  /* ===== PADDING ===== */
  --padding-v-desktop: 12px;
  --padding-h-desktop: 16px;

  --padding-tablet: 12px;

  --padding-v-mobile: 8px;
  --padding-h-mobile: 12px;
}